# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/techub?retryWrites=true&w=majority
DB_NAME=techub

# Server Configuration
NODE_ENV=production
PORT=10000

# Master Admin Configuration (for demo purposes)
MASTER_KEY=master
